.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.user-info-container {
  margin-left: auto;
  margin-right: 20px; /* Adjust the margin as needed */
  
}
  .deals {
    background-color: #f5f5f5;
  }
  
  .tasks {
    background-color: #e0f7fa;
  }

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f5f5f5;
}

input[type="checkbox"] {
  margin-top: 3px;
}
.container {
  margin-top: 20px;
}


